{% extends 'default/layout.html.twig' %}
{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Congratulations, your order has been paid</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Your order is already being prepared for shipment. A receipt of payment has been sent to your mail.
                There you can also find instructions to track the status of your order
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ path('app_default_orderform') }}" class="btn btn-primary btn-lg px-4 gap-3">Order more!</a>
            </div>
        </div>
    </div>
{% endblock %}